.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #e0ffdf;
  color: var(--background);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #94c27a;
  width: 70%;
  animation: animateModal 0.5s;
  border-radius: 1rem;
}

@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
  color: #000000;
}

.modal-content {
  display: flex;
  /* flex-wrap: nowrap; */
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 14rem;
  background-color: #94c27a;
  color: #000000;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.product-content .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: rgb(189, 213, 91);
}

.product-content .product-stars .star {
  fill: rgb(189, 213, 91);
}

.product-content .product-price {
  font-size: 1.3rem;
  font-weight: 700;
}

.product-content .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

.product-content h3 {
  font-size: 2rem;
}
