.contact {
  padding: 8rem 7% 1.4rem;
}

.contact h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #5d874f;
  border-radius: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
  margin: 50px 20px;
  border: 2px solid #fff;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--background);
  border: 1px solid #eee;
  padding-left: 2rem;
  border-radius: 2rem;
}

.contact .row form .input-grup input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #000000;
  background-color: var(--primary);
  border-radius: 1rem;
  cursor: pointer;
}

.contact .row form .btn:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
