:root {
  --primary: #9dc183;
  --background: #283a1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(28, 32, 23, 0.75);
  border-bottom: 1px solid #2d3725;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/gambar-matcha4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(40, 58, 28, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.page .content {
  padding: 1.4rem 7%;
  max-width: 68rem;
}

.page .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

.page .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.6;
  font-weight: 200;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.page .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: var(--primary);
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .social-media {
  padding: 1rem 2rem;
}

footer .social-media a {
  color: #000000;
  margin: 1rem;
}

footer .social-media a:hover,
footer .link a:hover {
  color: #fff;
}

footer .link {
  margin-bottom: 1.3em;
}

footer .link a {
  color: #000000;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1rem;
  color: #000000;
}

footer .credit a {
  color: #234822;
  font-weight: 700;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  /* .page .content {
    max-width: 35rem;
  } */
}

/* tab */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(28, 32, 23, 0.75);
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .page .content p {
    max-width: 25rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
    /* padding: 5px 30px 30px 0; */
  }
  .modal-content {
    flex-wrap: wrap;
  }
}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
